.mobileSubMenu {
  margin: 0 24px;
  width: 276px;
  background-color: rgba(45, 46, 64, 0.08);
  margin-bottom: 24px;

  .subMenuList {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 17px;
    margin-bottom: 25px;

    li {
      color: hsla(209, 48%, 24%, 1);
      font-style: normal;
      font-weight: 600;
      font-size: 1rem;
      font-family: "Overpass";
      margin-bottom: 12px;
    }
  }
}
