.container {
  position: absolute;
  padding-top: 27px;
  left: -26px;
}

.subMenu {
  background-color: #fff;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.243444);
  border-radius: 5px;
  max-height: 0px;
  width: 168px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;

  .subMenuList {
    padding: 24px;
    width: 120px;
    li {
      font-family: "ubuntu";
      font-style: normal;
      font-weight: normal;
      font-size: 0.938rem;
      line-height: 2.063rem;
      color: #2d2e40;

      &:hover {
        font-weight: 700;
      }
    }
  }
}

.showMenu {
  max-height: 600px;

  transition: max-height 0.3s ease-in-out;
}

.flipArrow {
  transform: rotate(180deg);
  transition: all 0.3s ease-in-out;
}
