@import "../styles/abstracts/variables";
@import "../styles/abstracts/mixins";

.header {
  height: 600px;
  width: 100%;
  border-radius: 0px 0px 0px 100px;
  background-image: url("/images/combined-shape-try.svg"),
    linear-gradient(135deg, #ff8f71 0%, #ff3e55 100%);
  background-repeat: no-repeat, no-repeat;
  // background-size: 360%, 100%;
  // background-position: 36% 34%;
  background-size: cover;
  background-position: center;
  padding-top: 88px;

  .content {
    margin: 108px 24px 24px;
    text-align: center;
    color: #fff;
  }

  h1 {
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 3.447rem;

    @include large {
      font-style: normal;
      font-weight: 600;
      font-size: 4rem;
      line-height: 6.125rem;
      text-align: center;
      letter-spacing: -1.92px;
    }
  }

  span {
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 1.724rem;
    font-style: normal;

    @include large {
      font-size: 1.25rem;
    }
  }

  .ctaBtns {
    margin: 43px auto;
    display: flex;
    justify-content: space-between;
    width: 290px;
  }

  .btnLeft {
    color: $cta-text;
    background-color: #fff;
  }

  .btnRight {
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
  }

  @media screen and (min-width: 1440px) {
    background-image: url("/images/header-img-desktop.svg"),
      linear-gradient(135deg, #ff8f71 0%, #ff3e55 100%);
    background-size: auto;
    background-position: right;
  }
}

.portal {
  color: black;
  font-size: 3rem;
  position: absolute;
  top: 0;
}
