@import '../styles/abstracts/variables';


.header {
    height: 600px;
    width: 100%;
    border-radius: 0px 0px 0px 100px;
    background-image:  url('/images/bg-pattern-intro.svg'), linear-gradient(135deg, #FF8F71 0%, #FF3E55 100%);
    ;
    background-repeat: no-repeat, no-repeat;
    background-size: 360%, 100%  ;
    background-position: 36% 34%;
    // background: #fff url('/images/bg-pattern-intro.svg') center center /934px 937px no-repeat
 
}