.sectionB {
  margin-top: 253px;
  background: url("/images/circles-bg.svg"),
    linear-gradient(135deg, #2d2e40 0%, #3f4164 100%);
  background-repeat: no-repeat, no-repeat;
  background-size: 100% 100% 100% 100%;
  @media (min-width: 400px) {
    background-size: 100% 100%;
  }
  background-position: 60% -10%;
  height: 625px;
  border-radius: 0px 100px;

  .article {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: -172px;
  }

  .imgContainer {
    transform: translateY(-172px);
    margin-bottom: -172px;
    width: 353px;
  }

  .articleFeature {
    padding: 0 25px;
    margin-top: 16px;
  }

  .articleTitle {
    font-weight: 600;
    font-size: 40px;
    line-height: 61px;
    text-align: center;
    letter-spacing: -1.2px;
    color: #fff;
  }

  .articleText {
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    color: #fff;
    text-align: center;
    letter-spacing: 0.5px;
    margin-top: 10px;
  }
}
