@import "../styles/abstracts/variables";
@import "../styles/abstracts/mixins";
.sectionA {
  margin-top: 100px;
  text-align: center;
  display: flex;
  flex-direction: column;
  @include large {
    margin-left: 165px;
    position: relative;
    margin-top: 71px;
  }

  .sectionTitle {
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 2.681rem;
    color: $heading-color;
    margin-bottom: 38px;

    @include large {
      font-size: 2.5rem;
      line-height: 3.83rem;
      transform: translateY(50px);
    }
  }

  .imgContainer {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;

    @include large {
      // width: 880px;
      // height: 882px;
      max-width: 920px;
      // transform: translateX(278px);
      position: absolute;
      right: -285px;
      top: 0;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  .articleContainer {
    display: flex;
    flex-direction: column;
    padding: 0 25px;

    @include medium {
      padding: 0 75px;
    }

    @include large {
      width: 540px;
      text-align: left;
      padding: 0;
    }
  }

  .articleTitle {
    font-style: normal;
    font-weight: 600;
    font-size: 1.75rem;
    line-height: 2rem;
    color: $heading-color;
    width: 318px;
    margin: 0 auto;

    @include large {
      font-weight: 600;
      font-size: 1.75rem;
      line-height: 1.75rem;
      text-align: center;
      margin: 0;
      text-align: left;
      width: auto;
    }
  }

  .articleText {
    margin-top: 16px;
    font-style: normal;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.75rem;
    letter-spacing: 0.0313rem;
    color: $heading-color;

    @include large {
      margin-top: 29px;
    }
  }

  .articleA {
    margin-top: 30px;

    @include large {
      margin-top: 93px;
    }
  }

  .articleB {
    margin-top: 40px;
    @include large {
      margin-top: 64px;
    }
  }
}
